.App {
    text-align: center;
    margin-top: -10px;
}

button {
    margin: 5px;
}

body {
    background-color: #cecece;
}

input:focus {
    outline: none;
}

input {
    border-radius: 5px;
    border: none;
    height: 15px;
    padding: 10px;
    width: 200px;
}

.addButton {
    border: none;
    background-color: white;
    border-radius: 5px;
    height: 35px;
    width: 35px;
    font-size: 15px;
}

button:hover {
    background-color: rgb(255, 250, 237);
}

.listItem {
    background-color: white;
    height: 15px;
    padding: 5px 10px 15px 10px;
    width: 200px;
    margin: auto;
    border-radius: 5px;
    text-align: left;
    justify-content: space-between;
}

.flex-row {
    display: inline-flex;
}

.flex-column {
    display: inline-flex;
    flex-direction: column;
    margin-top: 10px;
}

.margin-top {
    margin-top: 10px;
}

button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
}

:root {
    --borderWidth: 3px;
    --height: 14px;
    --width: 6px;
    --borderColor: #78b13f;
}

.check {
    display: inline-block;
    transform: rotate(45deg);
    height: var(--height);
    width: var(--width);
    border-bottom: var(--borderWidth) solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
    margin: 2px 7px 0px 0px;
}
