.rect {
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    font-weight: 600;
    color: white;
    border: 0.5px solid black;
    width: 130px;
    margin: 10px;
}

.column-flex {
    display: flex;
    flex-direction: column;
}

.row-flex {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.blue {
    background-color: #1791c1;
}

.gray {
    background-color: #7bb1bd;
}

.orange {
    background-color: #f69621;
}
.red {
    background-color: #b1262d;
}
.green {
    background-color: #649d3e;
}
.purple {
    background-color: #595392;
}
.pink {
    background-color: #d13d78;
}
.brown {
    background-color: #957038;
}

/* part2  */
.margin-center {
    margin-left: 350px;
    margin-top: 50px;
}
