.App {
    text-align: center;
    margin-top: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.row-flex {
    display: flex;
    width: 60%;
    margin: auto;
    height: 300px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.column-flex {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
    padding: 5px 20px 5px 20px;
}

.column-flex:nth-of-type(2) {
    align-items: flex-end;
    justify-content: space-between;
}

.paymentImage {
    max-width: 20%;
    justify-content: flex-end;
    margin: 10px 10px 0px 0px;
}

.black-box {
    color: white;
    background-color: black;
    width: 90px;
    padding: 5px;
    text-align: center;
}

.paymentText {
    font-weight: 600;
}

.arrow {
    font-size: 50px;
    margin-right: 10px;
}

/* ======================================================= */
/* ======================================================= */
/* ======================================================= */

.rflex {
    display: flex;
}

.cflex {
    display: flex;
    flex-direction: column;
}

.card {
    border: 1px solid #e5e5e5;
    width: 410px;
    height: 180px;
    margin-left: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-part-1 {
    flex-basis: 125px;
    padding: 10px;
}

.card-part-2 {
    flex-basis: 40px;
    border-top: 1px solid #e5e5e5;
    justify-content: flex-end;
}

.order-online {
    width: 150px;
    justify-content: center;
    background-color: #e9f4ec;
    color: #4d9643;
    border-left: 1px solid #e5e5e5;
    cursor: pointer;
}

.order-online > span {
    align-self: center;
    font-weight: 700;
}

.card-image {
    flex-basis: 110px;
    align-items: center;
    align-self: center;
}

.card-details {
    flex-basis: 220px;
    text-align: left;
}

.card-rating {
    flex-basis: 90px;
    text-align: center;
}

.card-image > img {
    width: 100%;
}

.card-rating > div {
    color: white;
    font-size: 15px;
    font-weight: 800;
    border-radius: 5px;
    width: 38px;
    height: 24px;
    align-self: flex-end;
    margin-top: 10px;
    margin-bottom: 5px;
}

.card-rating > span {
    text-align: end;
    color: #a3abb2;
    font-weight: 700;
}

.fs12 {
    font-size: 12px;
}

.card-details > div {
    margin-left: 10px;
    margin-top: -10px;
}

.card-details > div > h3 {
    color: #b93b3c;
    font-family: Arial, Helvetica, sans-serif;
}

.card-details > div > div > span {
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: bold;
    margin-bottom: -6px;
}

.card-details > div > div {
    margin-top: -15px;
}

.gray {
    color: #848a8f;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    justify-content: space-evenly;
    position: static;
}

/* ======================================================= */
/* ======================================================= */
/* =======================NAVBAR====================== */

.navbar {
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: #494d60;
    top: 0;
}

.main-body {
    margin-top: 100px;
}

.navbar img {
    width: 10%;
    margin-left: 40px;
    margin-top: 10px;
}

.navbar button {
    color: white;
    background-color: #fc8112;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    margin-top: 14px;
    justify-content: flex-end;
    cursor: pointer;
    margin-left: 400px;
}
