.App {
    text-align: center;
    margin-top: 20px;
}

.row-flex {
    display: flex;
    width: 60%;
    margin: auto;
    height: 300px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.column-flex {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
    padding: 5px 20px 5px 20px;
}

.column-flex:nth-of-type(2) {
    align-items: flex-end;
    justify-content: space-between;
}

.paymentImage {
    max-width: 20%;
    justify-content: flex-end;
    margin: 10px 10px 0px 0px;
}

.black-box {
    color: white;
    background-color: black;
    width: 90px;
    padding: 5px;
    text-align: center;
}

.paymentText {
    font-weight: 600;
}

.arrow {
    font-size: 50px;
    margin-right: 10px;
}

/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
